.Form {
  display: flex;
  align-items: flex-end;
}

.Form-lable {
  display: flex;
  flex-flow: column wrap;
}

.Form-input {
  width: 150px;
  height: 30px;

  margin-top: 20px;
  margin-right: 30px;

  border: 1px solid black;
}

.Form-btn {
  width: 100px;
  height: 30px;

  background: transparent;
  border: 1px solid black;
}
